---
apiVersion: v1
data:
  key.json: json key
kind: Secret
metadata:
  name: scala-api-key
  namespace: scala-api
  selfLink: /api/v1/namespaces/scala-api/secrets/scala-api-key
type: Opaque

---

You can create it with :
#kubectl create secret generic scala-api-key -n scala-api --from-file=key.json=/path/to/your/gcp/key/json -o=yaml
